* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  font-family: sans-serif;
  text-align: center;
  color: #fff;
  height: 100vh;
  padding: 1rem;
  background-image: url('assets/tetris01.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: center;
  background-position-x: center;
}

.controls-contianer {
  height: 45vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.controls-text {
  font-size: 1.4rem;
}

.controls-keys {
  margin-top: 1rem;
}

